/* NAVBAR */

#navbar {
    margin-bottom: 100px;
    background-color:#2196F3;
    text-align: center;
    padding: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 3px 3px 5px 6px #ccc; 

}

#navbar h2 {
    color: #fff;
}

/* SEARCH BOX */

#searchBox {
    text-align: right;
    margin-bottom: 20px;
}

#searchInput {
    border: 2px solid #ddd;
    border-radius: 7px;
    height: 30px;
}

/* BUTTON */

.button {
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}


/* TABLE */

.col {
    border: 1px solid #ddd;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    height: 50px;
    width: 50px;
}

#tableHeader p {
    font-weight: bold;
    color: #2196F3;
}

#tableFooter {
    margin-top: 20px;
}

#emptyTableBody {
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    padding: 7px;
    margin-left: -15px;
    margin-right: -15px;
}


/* RESPONSIVE TABLE */ 

@media screen and (max-width: 992px) {
    #tableHeader {
        display: none;
    }
    .row {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .col {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: left;
        width: 100%;
    }

    .col:before {
        float: left;
        font-weight: bold;
        width: 50%;
      }
      
    .col:last-child {
    border-bottom: 0;
    }

    .col:nth-of-type(1):before { content: "ID: "; }
    .col:nth-of-type(2):before { content: "Name Surname: "; }
    .col:nth-of-type(3):before { content: "Phone Number: "; }
    .col:nth-of-type(4):before { content: "Email: "; }
    .col:nth-of-type(5):before { content: "Actions: "; }

}

